<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
	<title>Food World!</title>
</head>
<body style="background-color: #f2f2f2">
	<nav class="navbar navbar-default" style="background-color: #cef7f2">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Job Jungle</a>
	    </div>
	    <form method="post" action = '/search/'> 
	     		<input style="float: left; width: 290px; margin-top: 1%" type="text" name="Search" placeholder="Search by Location, Company, or Title">    		
		</form>  
	    <ul class="nav navbar-nav">
	    </ul>
  	</nav>
		
	<p style="text-align: center;"> Search Results </p>
	
	<div style="position: relative;">
		<!-- <p style="text-align: left; font-weight: bold;margin-left: 10px"> All Snacks</p> -->
		{% for job in jobs %}
			<a href="/jobs/{{ job.id }}">
			<div class="panel panel-info" style="margin:0;text-align:center;width: 30%;float: left; margin: 10px">
				<div class="panel-heading"> {{ job.company }}</div>
	  			<div class="panel-body"> {{ job.title}}</div>
			</div>
			</a>
		{% endfor %}
	</div>
</body>
</html>